* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, li, ul, ol {
  font-family: "Poppins";
}

#login, #onboarding {
  display: flex;
  background: #CBEDD5;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#onboarding {
  justify-content: start;
}

#login h1, #onboarding h1 {
  font-family: "Poppins";
  color: #439A97;
  font-size: 80px;
  font-weight: 900;
}

#login p, #onboarding p {
  font-size: 30px;
  color: #62B6B7;
  font-family: "Poppins";
}

.highlight {
  color: #439A97;
  font-weight: 900;
}

.git-button {
  font-family: "Poppins";
  color: #CBEDD5;
  background: #439A97;
  border: none;
  border-radius: 20px;
  padding: 25px;
  font-size: 25px;
  margin-top: 20px;
}

.git-button:hover {
  color: #439A97;
  background: #97DECE;
}

#holder {
  display: flex;
  margin-top: 20px;
  background: #62B6B7;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
  border-radius: 20px;
}

#choices {
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin: 25px;
}

.stick-button {
  padding: 25px;
  border: none;
  border-radius: 25px;
  background: #97DECE;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.stick-button:hover {
  background: #439A97;
  color: #97DECE;
}

.next-button {
  font-family: "Poppins";
  color: #CBEDD5;
  background: #62B6B7;
  border: none;
  border-radius: 20px;
  padding: 10px 40px;
  font-size: 25px;
  margin-top: 20px;
}